pytest
pytest-cov
pyyaml
git+https://git@bitbucket.org/antavelos-eurocontrol/rest-client.git
git+https://git@bitbucket.org/antavelos-eurocontrol/opensky-network-client.git
git+https://git@bitbucket.org/antavelos-eurocontrol/subscription-manager-client.git
git+https://git@bitbucket.org/antavelos-eurocontrol/swim-pubsub.git
python-qpid_proton
cachetools
